.container {
  display: flex;
  justify-content: center;
}

.box {
  background-color: #343645;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-top: 15px;
}

.title {
  text-align: center;
  color: #B969F5;
  font-size: 18px;
  animation: text 1000ms;
}

.column-titles {
  display: flex;
  justify-content: space-evenly;
  color: #668CF6;
  font-size: 18px;
  animation: text 1000ms;
  padding-top: 5px;
}

.analytics {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-evenly;
  background-color: #343645; 
  animation: text 1000ms;
}

@keyframes text {
  0% {
    transform: translate(0px, 150px);
    opacity: 0;
  }
}

.app-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
}

.img {
  width: 75px;
  height: 75px;
  border-radius: 16px;
  margin: 25px;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.6);
}

.h3 {
  margin: 45px;
  color: #F8F9FF;
  font-size: 24px;
  text-align: center;
}

.downloads {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ratings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.loader {
  text-align: center;
  padding-top: 50px;
}